@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Rubik/static/Rubik-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Rubik/static/Rubik-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Rubik/static/Rubik-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Rubik/static/Rubik-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/Rubik/static/Rubik-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/Rubik/static/Rubik-Black.ttf') format('truetype');
}
